/*nav*/



/*landing page*/
.jumbotron {
  margin-top: 50px;
  text-align: center;
}
th {
  text-align: left;
}

/*User dashboard*/

.top {
  border-bottom: solid gray;
}

.game-list {
  margin-top: 20px;
}

/*login*/

.create-new {
  width: 30%;
}

.login {
  width: 30%;
}

/*Game view*/

.jumbotron .card {
  border-radius:  0px;
}

.counter {
  float:left;
  font-size: 25px;
  font-family:sans-serif;
}

.answer-track {
  float:right;
  font-size: 20px;
  font-family: sans-serif;
}

.answer input {
  height: 40px;
}

.final-score {
  color: red;
}

/*Game over*/

td {
  text-align: left;
}



