<div class="container center">
  <div class="row top">
    <div class="col-md-4">
      <h2>Hello, <%= @user.user_name %></h2>
    </div>
    <div class="col-md-4">
      <h2><a href="/stats/local">My Stats</a></h2>
    </div>
    <div class="col-md-4">
      <h2><a href="/stats/global">Global Stats</a></h2>
    </div>
  </div>

<div class="container center card-view">
  <div class="row">
    <h2>Click on a deck to play!</h2>
  </div>

    <% Deck.all.each do |deck| %>

      <div class="row">

      <a href="/decks/<%= deck.id %>"><h3 class="game-list"><%= deck.name %></h3></a>

      </div>

    <% end %>

</div>
