<div class="container">
  <div class="jumbotron">
    <h1> Welcome!</h1>
    <h3>Create an Account for Sparta Cards!</h3>
  </div>
    <br>

    <form role="form">
      <div class="form-group create-new">
        <label for="exampleInputName1">Name</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Enter your name">
      </div>
      <div class="form-group create-new">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
      </div>
      <div class="form-group create-new">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
</div>
