<div class="container">

  <div class="jumbotron">
    <h2>Game Over!! Your score is: </h2>
    <p class="final-score"><b>0/10</b></p>

    <br>
    <button type="button" class="btn btn-primary btn-lg">Play again?</button>
    <button type="button" class="btn btn-primary btn-lg">Return to dashboard</button>
  </div>
</div>
