<div class="container">
  <div class="jumbotron">
    <h3>Topic: </h3>
    <h2 class="topic"><%= @deck.name %></h2>
    <form class="answer" action='/decks/<%= @deck.id %>/next' method="post">
      <input type="hidden" name="first_question" value="yes">
     <button type="submit" class="btn btn-primary btn-success">Start Game!</button>
    </form>
  </div>
</div>
