<div class="container">

<!-- Game-playing view -->
  <div class="counter">Question <%= @round.cards_played %></div>
  <div class="answer-track">0/10</div>
  <div class="jumbotron">
    <h3><%= @card.question %></h3>

    <form class="answer" action='/decks/<%= @deck.id %>/next' method="post">
      <input type="text" name='user_guess' size="35" placeholder="Type Answer Here">
      <input type="hidden" name="new_game" value="false">
      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-lg">Submit Answer</button>
    </form>
  </div>

</div>

