<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Sparta Cards</h1>
    <h3>Play flash card games or create your own!</h3>
    <br>
    <a href="/users/new"><button type="button" class="btn btn-primary btn-lg">Sign Up!</button></a>
  </div>
</div>
